.banner-text {
	position: relative;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	color: transparent;
}

.banner-text::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	overflow: hidden;
	border-right: 1px solid #000;
	animation: type 10s -10s steps(52) infinite;
	/* animation-timing-function: step-end; */
	white-space: nowrap;
}

@keyframes type {
	0% {
		width: 0;
	}
	50% {
		width: 100%;
	}
}
